{% extends "base.html" %}

{% block title %}Análisis - DME{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-3 bg-dark text-white">
        <h2>Archivo nuevo</h2>
      	<form  method="POST" action = "" enctype="multipart/form-data">
      		{{ form.hidden_tag() }}
      		<div>
      			<!-- {{ form.file.label(class="form-group") }} -->
      			<label for="customFile" class="form-group">Archivos soportados: 'pdf', 'jpg', 'png', 'jpeg'</label>
      			{{ form.file(class="form-control-file") }}<br>
      			{% for error in form.file.errors %}
      			<span style="color: red;">{{ error }}</span>
      			{% endfor %}
      		</div>
      		<div>
      				{{ form.submit(class="btn btn-primary") }}
      		</div>
      	</form>
      </div>

      <div class="col-9 bg-light text-dark">
        <div class="tabla">

          {% if headers %}
          <table class="table table-sm">
            <thead>
              <tr>
                {% for field in headers %}
                  <th scope="col"> {{ field }} </th>
                {% endfor %}
              </tr>
            </thead>

            <tbody>
              {% for document in data %}
              <tr>
                {% for data in document %}
                  <td> {{ data }} </td>
                {% endfor %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% endif %}
        </div>
      </div>
    </div>

<br>

    <div class="row">
      <div class="col-sm-7 bg-info text-white">
        AQUI VA LA PREVIEW DEL DOC DESPUES DE DAR ANALIZAR
        {% if preview %}
          <p>{{preview}}</p>
        {% endif %}
      </div>
      <div class="col-sm-5">

        {% if ocr_data %}

        <div class="row" style="text-align:center;">
          <div class="col-sm-6">

            <div class="card">
              <div class="card-body">
                <h6 class="card-title">Fecha</h6>
                <p class="card-text">{{ ocr_data['fecha'] }}</p>
              </div>
            </div>

            <div class="card">
              <div class="card-body">
                <h6 class="card-title">Unidades de medida</h6>
                <p class="card-text">{{ ocr_data['unidades de medida'] }}</p>
              </div>
            </div>

            <div class="card">
              <div class="card-body">
                <h6 class="card-title">Caja y efectivo</h6>
                <p class="card-text">{{ ocr_data['caja y efectivo'] }}</p>
              </div>
            </div>

            <div class="card">
              <div class="card-body">
                <h6 class="card-title">Total activo</h6>
                <p class="card-text">{{ ocr_data['total activo'] }}</p>
              </div>
            </div>

            <div class="card">
              <div class="card-body">
                <h6 class="card-title">Total pasivo</h6>
                <p class="card-text">{{ ocr_data['total pasivo'] }}</p>
              </div>
            </div>

            <div class="card">
              <div class="card-body">
                <h6 class="card-title">Total patrimonio</h6>
                <p class="card-text">{{ ocr_data['total patrimonio'] }}</p>
              </div>
            </div>

          </div>

          <div class="col-sm-6">

            <div class="card">
              <div class="card-body">
                <h6 class="card-title">Ventas</h6>
                <p class="card-text">{{ ocr_data['ventas'] }}</p>
              </div>
            </div>

            <div class="card">
              <div class="card-body">
                <h6 class="card-title">Costo de ventas</h6>
                <p class="card-text">{{ ocr_data['costo de ventas'] }}</p>
              </div>
            </div>

            <div class="card">
              <div class="card-body">
                <h6 class="card-title">Utilidad bruta</h6>
                <p class="card-text">{{ ocr_data['utilidad bruta'] }}</p>
              </div>
            </div>

            <div class="card">
              <div class="card-body">
                <h6 class="card-title">Utilidad Operacional</h6>
                <p class="card-text">{{ ocr_data['utilidad operacional'] }}</p>
              </div>
            </div>

            <div class="card">
              <div class="card-body">
                <h6 class="card-title">UAI</h6>
                <p class="card-text">{{ ocr_data['utilidad antes de impuestos'] }}</p>
              </div>
            </div>

            <div class="card">
              <div class="card-body">
                <h6 class="card-title">Utilidad neta</h6>
                <p class="card-text">{{ ocr_data['utilidad neta'] }}</p>
              </div>
            </div>


          </div>
        </div>

          {% if addButton %}
            <form class="" action="" method="POST">
              <input type="submit" name="submit_button" value="Agregar">
            </form>
          {% else %}
            <input type="submit" name="submit_button" value="Agregado!" disabled>
          {% endif %}

        {% endif %}
      </div>
    </div>

  </div>
{% endblock %}
