<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="PyCoatl development team">

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap -->
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- Static Files -->
    <link rel="stylesheet" href="{{url_for('static', filename='master.css')}}" />
    <!-- <link rel="stylesheet" href="../static/master.css" /> -->

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        
        body {
            font-family: Helvetica;
            font-weight: lighter;
        }
        
        .cardkey {
            background-color: #ffffff45;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            text-align: center;
            padding-top: 4px;
            padding-bottom: 4px;
        }
        
        button,
        input {
            overflow: hidden !important;
        }
        
        buttonload {
            color: #212529;
            background-color: #f8f9facc;
            border-color: #f8f9fa;
        }
        
        @media screen and (min-width: 1024px) {
            #d1 {
                height: 120px;
            }
            #d2 {
                height: 700px;
            }
        }
        
        @media screen and (max-width: 800px) {
            #d1 {
                height: 150px;
            }
            #d2 {
                height: 700px;
            }
        }
        
        @media screen and (max-width: 600px) {
            #d1 {
                height: 100px;
            }
            #d2 {
                height: 700px;
            }
        }
        
        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
        
        @media(min-width:600px) {
            h1 {
                font-size: 40px;
                line-height: 56px
            }
            .link a {
                font-size: 15px;
                line-height: 24px
            }
            .link__content {
                font-size: 15px;
                line-height: 24px
            }
        }
        
        @media(min-width:600px) and (max-width:991px) {
            .wrapper .container {
                max-width: 100%;
                margin-left: auto;
                margin-right: auto;
                max-width: 100%
            }
            .wrapper .container:after {
                content: " ";
                display: block;
                clear: both
            }
        }
        
        @media(min-width:992px) {
            html {
                line-height: 24px
            }
            body {
                line-height: 24px
            }
            .btn__basic {
                padding: 16px 32px
            }
            .btn__white {
                padding: 13px 32px
            }
        }
        
        @media(min-width:992px) and (max-width:1199px) {
            .wrapper .container {
                width: 960px;
                margin-left: auto;
                margin-right: auto;
                max-width: 100%
            }
            .wrapper .container:after {
                content: " ";
                display: block;
                clear: both
            }
        }
        
        @media(min-width:1200px) {
            .wrapper .container {
                width: 1176px;
                margin-left: auto;
                margin-right: auto;
                max-width: 100%
            }
            .wrapper .container:after {
                content: " ";
                display: block;
                clear: both
            }
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand navbar-dark  fixed-top" width="300" style="background-color:#072146;">
        <div class="container justify-content-center">
            <a class="navbar-brand" href="{{url_for('index')}}">
                <img src="{{url_for('static', filename='images/logo.png')}}" height="45" />
                <tilte tyle="width: 20px;vertical-align: baseline">
                    </title>
            </a>
        </div>
    </nav>

    {% block content %} {% endblock %}


    <footer class="container">
        <div style="text-align:center">
            <img src="{{url_for('static', filename='images/pycoatl.png')}}" height="80" />
            <p>Powered by PyCoatl</p>

        </div>
    </footer>
</body>

</html>