{% extends "base.html" %} {% block title %}Análisis - DME{% endblock %} {% block content %}
<main role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <!-- Example row of columns -->
            <div class="row">
                <div id="d2" class="col-md-3 text-white" style="background: rgb(90,76,150); background: linear-gradient(212deg, rgba(90,76,150,1) 2%, rgba(28,71,147,1) 17%, rgba(109,178,189,1) 43%, rgba(142,188,163,1) 59%, rgba(197,80,78,1) 81%);">
                    <h1 style="color:ligth;text-align: center;">Hola! Bienvenido al Interprete de Imagenes</h1>
                    <h5 style="text-align: center;">Para comenzar carga una archivo</h5>
                    <form method="POST" action="" enctype="multipart/form-data" class="btn btn-light btn-md mt-4">
                        {{ form.hidden_tag() }}
                        <div>
                            <!-- {{ form.file.label(class="form-group") }} -->
                            <p style="text-align: center;">
                                <small> Archivo soportado: pdf</small>
                            </p>
                            {{ form.file(class="form-control-file") }}
                            <br> {% for error in form.file.errors %}</br>
                            <span style="color:#c5504e;">{{ error }}</span> {% endfor %}
                        </div>
                        <div>
                            {{ form.submit(class="btn btn-primary btn-sm mt-1 align-self: end") }}
                        </div>
                    </form>
                </div>

                <div class="col-md-9  row justify-content-center">
                    {% if ocr_data %}

                    <div>
                        <h4 class="display-5" style="margin-top: 20px; margin-bottom: 20px; text-align:center; font-family: Helvetica Light;font-size: xx-large;">Hemos identificado las siguientes llaves valor para ti!</h4>
                    </div>
                    <div id="d1" class="col-lg-3 col-md-4 col-sm-5 cardkey">
                        <h5>Fecha</h5>
                        <p>{{ ocr_data['fecha'] }}</p>
                    </div>
                    <div id="d1" class="col-lg-3 col-md-4 col-sm-5 cardkey">
                        <h5>Unidades de medida</h5>
                        <p>{{ ocr_data['unidades de medida'] }} </p>
                    </div>
                    <div id="d1" class="col-lg-3 col-md-4 col-sm-5 cardkey">
                        <h5>Caja y efectivo</h5>
                        <p> {{ ocr_data['caja y efectivo'] }} </p>
                    </div>
                    <div id="d1" class="col-lg-3 col-md-4 col-sm-5 cardkey">
                        <h5>Total activo</h5>
                        <p>{{ ocr_data['total activo'] }}</p>
                    </div>
                    <div id="d1" class="col-lg-3 col-md-4 col-sm-5 cardkey">
                        <h5>Total pasivo</h5>
                        <p> {{ ocr_data['total pasivo'] }} </p>
                    </div>
                    <div id="d1" class="col-lg-3 col-md-4 col-sm-5 cardkey">
                        <h5> Total patrimonio </h5>
                        <p>{{ ocr_data['total patrimonio'] }}</p>
                    </div>
                    <div id="d1" class="col-lg-3 col-md-4 col-sm-5 cardkey ">
                        <h5>Ventas</h5>
                        <p>{{ ocr_data['ventas'] }}</p>
                    </div>
                    <div id="d1" class="col-lg-3 col-md-4 col-sm-5 cardkey ">
                        <h5>Costo de ventas</h5>
                        <p>{{ ocr_data['costo de ventas'] }}</p>
                    </div>
                    <div id="d1" class="col-lg-3 col-md-4 col-sm-5 cardkey ">
                        <h5>Utilidad bruta</h5>
                        <p>{{ ocr_data['utilidad bruta'] }}</p>
                    </div>
                    <div id="d1" class="col-lg-3 col-md-4 col-sm-5 cardkey ">
                        <h5>Utilidad Operacional</h5>
                        <p>{{ ocr_data['utilidad operacional'] }}</p>
                    </div>
                    <div id="d1" class="col-lg-3 col-md-4 col-sm-5 cardkey ">
                        <h5>UAI</h5>
                        <p>{{ ocr_data['utilidad antes de impuestos'] }}</p>
                    </div>
                    <div id="d1" class="col-lg-3 col-md-4 col-sm-5 cardkey ">
                        <h5>Utilidad neta</h5>
                        <p>{{ ocr_data['utilidad neta'] }}</p>
                    </div>

                </div>
            </div>

            <div>
                {% if addButton %}
                <form class="btn btn-outline-primary btn-sm mt-1 align-self: end" action="" method="POST">
                    <input type="submit" name="submit_button" value="Agregar">
                </form>
                {% else %}
                <input type="submit" name="submit_button" value="Agregado" disabled> {% endif %} {% endif %}
            </div>

            <div>
                {% if headers %}
                <div class="bg-light text-dark">
                    <div class="tabla">
                        <table class="table" style="border-collapse: collapse; width: inherit; display: block;overflow: scroll;">
                            <thead>
                                <tr style="vertical-align: middle; border-bottom: 1px solid #d0d0d0; background-color: #048484; color: white; font-family: Helvetica; text-align: center;">
                                    {% for field in headers %}
                                    <th scope="col"> {{ field |capitalize }} </th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for document in data %}
                                <tr>
                                    {% for data in document %}
                                    <td scope="row"> {{ data }} </td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            {% if data %}
            <div ">
                <a type="button " class="btn btn-outline-secondary btn-sm " href="{{ url_for( 'download', extension='txt' ) }} ">Descargar TXT</a>
                <a type="button " class="btn btn-outline-secondary btn-sm " href="{{ url_for( 'download', extension='csv' ) }} ">Descargar CSV</a>
                <a type="button " class="btn btn-outline-secondary btn-sm " href="{{ url_for( 'download', extension='xlsx' ) }} ">Descargar Excel</a>
            </div>
            {% endif %}

            {% endif %}
        </div>

    </div>
</main>

{% endblock %}