{% extends "base.html" %}
{% block title %}JSON-TABLE{% endblock %}
{% block content %}

<table class="table table-sm">
  <thead>
    <tr>
      {% for field in headers %}
        <th scope="col"> {{ field }} </th>
      {% endfor %}
    </tr>
  </thead>

  <tbody>
    {% for document in data %}
    <tr>
      {% for data in document %}
        <td> {{ data }} </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
