{% extends "base.html" %}

{% block title %}Subir Archivo - DME{% endblock %}

{% block content %}
<div class="container-sm">
	<h1>Archivo nuevo</h1>
	<form  method="POST" action = "" enctype="multipart/form-data">
		{{ form.hidden_tag() }}
		<div>
			<!-- {{ form.file.label(class="form-group") }} -->
			<label for="customFile" class="form-group">Archivos soportados: 'pdf', 'jpg', 'png', 'jpeg'</label>
			{{ form.file(class="form-control-file") }}<br>
			{% for error in form.file.errors %}
			<span style="color: red;">{{ error }}</span>
			{% endfor %}

		</div>
		<div>
				{{ form.submit(class="btn btn-primary") }}
		</div>
	</form>
</div>
{% endblock %}
