{% extends "base.html" %}
{% block title %}Resultados - DME{% endblock %}
{% block content %}
  <div class="container">
    <h1>Interpretador Inteligente</h1>
    <h2>Resultados:</h2>

    <div class="botones" style="margin: auto; width:50%; padding:1rem 0 1rem 0;">
      <a class="btn btn-outline-primary" href="{{ url_for('download', extension='txt') }}" role="button">Descargar TXT</a>
      <a class="btn btn-outline-primary" href="{{ url_for('download', extension='csv') }}" role="button">Descargar CSV</a>
      <a class="btn btn-outline-primary" href="{{ url_for('download', extension='json') }}" role="button">Descargar JSON</a>
      <a class="btn btn-outline-primary" href="{{ url_for('download', extension='xlsx') }}" role="button">Descargar Excel</a>
    </div>

    <div class="tabla">
      {% for table in tables %}
        {{ table|safe }}
      {% endfor %}
    </div>
    <a class="btn btn-outline-danger btn-sm" href="#" role="button" style="float: right;">Editar</a>

  </div>
{% endblock %}
