{% extends "base.html" %}
{% block title %}Subir Archivo - DME{% endblock %}
{% block content %}
<h1>File Upload</h1>
  <form method="POST" action="" enctype="multipart/form-data">
    <p><input type="file" name="file"></p>
    <p><input type="submit" value="Submit"></p>
  </form>
{% endblock %}
